<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.bru6.devonthink</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>05E7224D-461F-4FD6-BBCC-B927ADEF0E9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E670F8C6-38F9-463A-8053-55D4C6634FCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>221A9827-1ABB-4757-B9CE-CDF0C275CB4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92D0B4BA-A2F9-4D37-BFD0-C5090FB610EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open in new window in DT</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45F9755A-A2CF-4A08-BD58-F164B38BEE00</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Search in selected group</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal in DT</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FB7D56C-1BB4-4D7A-9729-466CCEA1CDC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7061F819-A8CD-48F5-8F37-D2246D4D7C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45F9755A-A2CF-4A08-BD58-F164B38BEE00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92D0B4BA-A2F9-4D37-BFD0-C5090FB610EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open record in DEVONthink</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21BA232A-1DF1-4734-82D7-3D1E23865AC3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>704EC450-15D2-4744-8622-B248FCA997DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D6F95FA-2F7D-4E1D-BB1D-3CED3E09CE84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C53587-0B6B-4A52-9A1A-F6BBEAF3DD18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92D0B4BA-A2F9-4D37-BFD0-C5090FB610EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BAB7E3F-3E9B-450B-89AC-1A61A59CB08D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63FEA545-EECD-4069-B7BB-506787D25991</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7A99021-056A-4D32-BE8B-AC8E3069D486</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D73E8268-4276-4AAD-9CF3-91B29E6B79C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>221A9827-1ABB-4757-B9CE-CDF0C275CB4D</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Show groups for database</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45F9755A-A2CF-4A08-BD58-F164B38BEE00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E7C45E80-CB9C-4915-ABA9-0C220A5E1773</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>List all Tags</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D883A945-0841-4E01-B919-C57B23109B59</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Show all smartgroups in database</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D883A945-0841-4E01-B919-C57B23109B59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open in DT</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB152084-DE5D-4ED3-8F90-EF5B355D6CEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7A99021-056A-4D32-BE8B-AC8E3069D486</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21BA232A-1DF1-4734-82D7-3D1E23865AC3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7C45E80-CB9C-4915-ABA9-0C220A5E1773</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F480BB2C-D5E5-4EDA-B3B4-69D176D25B8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F480BB2C-D5E5-4EDA-B3B4-69D176D25B8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7A99021-056A-4D32-BE8B-AC8E3069D486</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open in DT</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21BA232A-1DF1-4734-82D7-3D1E23865AC3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open in default program</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christian Kirsch</string>
	<key>description</key>
	<string>Search DT with JavaScript only</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DT Search JS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js list_groups</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>Show groups</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>221A9827-1ABB-4757-B9CE-CDF0C275CB4D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js open_record "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0BAB7E3F-3E9B-450B-89AC-1A61A59CB08D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>x-devonthink-item</string>
						<key>outputlabel</key>
						<string>Open Group</string>
						<key>uid</key>
						<string>63FEA545-EECD-4069-B7BB-506787D25991</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open File</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>92D0B4BA-A2F9-4D37-BFD0-C5090FB610EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>dts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js search_for_alfred "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:searchGroup} {var:selectedDbName}</string>
				<key>title</key>
				<string>Search in DEVONthink</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45F9755A-A2CF-4A08-BD58-F164B38BEE00</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>dtd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js list_databases</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get all DT databases</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D73E8268-4276-4AAD-9CF3-91B29E6B79C9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js open_record "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js records_with_tag "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>Records with tag "$1"</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F480BB2C-D5E5-4EDA-B3B4-69D176D25B8E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js list_tags
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>getTagsList.py</string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>List all Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E7C45E80-CB9C-4915-ABA9-0C220A5E1773</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dtsg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js list_smartgroups</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>List Smart Groups</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D883A945-0841-4E01-B919-C57B23109B59</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A7A99021-056A-4D32-BE8B-AC8E3069D486</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># $1: uuid
open "x-devonthink-item://${1}?reveal=1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dtf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js list_favorites</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List Favorites</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70C53587-0B6B-4A52-9A1A-F6BBEAF3DD18</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>21BA232A-1DF1-4734-82D7-3D1E23865AC3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dtt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js search_for_alfred tags "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Separate tags by commas or semicolons</string>
				<key>title</key>
				<string>Search by Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DB152084-DE5D-4ED3-8F90-EF5B355D6CEA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js search_in_dt "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5D6F95FA-2F7D-4E1D-BB1D-3CED3E09CE84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dtts</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search with query in DT</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>704EC450-15D2-4744-8622-B248FCA997DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js load_workspace "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E670F8C6-38F9-463A-8053-55D4C6634FCD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dtwl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js list_workspaces</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Load Workspace</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>05E7224D-461F-4FD6-BBCC-B927ADEF0E9D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript DT-Search.js save_workspace "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7061F819-A8CD-48F5-8F37-D2246D4D7C34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dtws</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Save workspace named "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3FB7D56C-1BB4-4D7A-9729-466CCEA1CDC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Workflow for DEVONthink 3

This workflow re-implements an older one also available on GitHub which depends on Python and other external tools. The new version only uses JavaScript, so that it doesn't depend on certain tools being installed.

It doesn't yet implement the global variables available in the previous workflow to exclude a group or a list of databases. 

## Keyboard shortcuts

- &lt;kbd&gt;DTD&lt;/kbd&gt; select database for subsequent commands,
  - &lt;kbd&gt;Enter&lt;/kbd&gt;: search in this database
  - &lt;kbd&gt;Opt-Enter&lt;/kbd&gt;: show all smart groups for this database
  - &lt;kbd&gt;Cmd-Enter&lt;/kbd&gt;: show all tags for this database
  - &lt;kbd&gt;Ctrl-Enter&lt;/kbd&gt;: show all groups for this database (excluding Tags and Trash)
- &lt;kbd&gt;DTS&lt;/kbd&gt;: search in all databases,
  - &lt;kbd&gt;Enter&lt;/kbd&gt;: open in default program
  - &lt;kbd&gt;Cmd+Enter&lt;/kbd&gt;: open in DEVONthink
  - &lt;kbd&gt;Opt+Enter&lt;/kbd&gt;: reveal in DEVONthink
- &lt;kbd&gt;DTSG&lt;/kbd&gt; show all smart groups,
- &lt;kbd&gt;DTF&lt;/kbd&gt; list favorites. Databases in favorites currently not open will be opened by this command
- &lt;kbd&gt;DTWL&lt;/kbd&gt; Load workspace,
- &lt;kbd&gt;DTWS&lt;/kbd&gt; Save workspace,
- &lt;kbd&gt;DTTS&lt;/kbd&gt;: Search with query in DT,
- &lt;kbd&gt;DTT&lt;/kbd&gt; Search for tags. This is a shortcut to &lt;kbd&gt;DTS&lt;/kbd&gt; with a query like "tags: t1 tags: t2".

## Result order

Results are returned in the following order
- Databases (&lt;kbd&gt;DTD&lt;/kbd&gt;) alphabetically by name,
- Records (&lt;kbd&gt;DTS&lt;/kbd&gt;, &lt;kbd&gt;DTTS&lt;/kbd&gt;) first by database, than by ranking,
- Tags (&lt;kbd&gt;DTT&lt;/kbd&gt;) alphabetically by name,
- Workspaces (&lt;kbd&gt;DTWL&lt;/kbd&gt;) alphabetically by name,
- Smart groups (&lt;kbd&gt;DTSG&lt;/kbd&gt;) first by database, than by name,
- Favorites (&lt;kbd&gt;DTF&lt;/kbd&gt;) in the order shown in DEVONthink.</string>
	<key>uidata</key>
	<dict>
		<key>05E7224D-461F-4FD6-BBCC-B927ADEF0E9D</key>
		<dict>
			<key>note</key>
			<string>Load workspace</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1270</real>
		</dict>
		<key>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</key>
		<dict>
			<key>note</key>
			<string>Reveal in DEVONthink</string>
			<key>xpos</key>
			<real>1255</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>0BAB7E3F-3E9B-450B-89AC-1A61A59CB08D</key>
		<dict>
			<key>note</key>
			<string>Open with DT item link in DT</string>
			<key>xpos</key>
			<real>1265</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</key>
		<dict>
			<key>note</key>
			<string>Open with DEVONthink</string>
			<key>xpos</key>
			<real>1265</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>21BA232A-1DF1-4734-82D7-3D1E23865AC3</key>
		<dict>
			<key>note</key>
			<string>Search in default engine</string>
			<key>xpos</key>
			<real>1255</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>221A9827-1ABB-4757-B9CE-CDF0C275CB4D</key>
		<dict>
			<key>note</key>
			<string>Show all groups for selected database</string>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>3FB7D56C-1BB4-4D7A-9729-466CCEA1CDC1</key>
		<dict>
			<key>note</key>
			<string>Save workspace</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1430</real>
		</dict>
		<key>45F9755A-A2CF-4A08-BD58-F164B38BEE00</key>
		<dict>
			<key>note</key>
			<string>Search in selected database</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>5D6F95FA-2F7D-4E1D-BB1D-3CED3E09CE84</key>
		<dict>
			<key>xpos</key>
			<real>1270</real>
			<key>ypos</key>
			<real>1125</real>
		</dict>
		<key>704EC450-15D2-4744-8622-B248FCA997DE</key>
		<dict>
			<key>note</key>
			<string>Search in DT window</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1130</real>
		</dict>
		<key>7061F819-A8CD-48F5-8F37-D2246D4D7C34</key>
		<dict>
			<key>xpos</key>
			<real>1270</real>
			<key>ypos</key>
			<real>1425</real>
		</dict>
		<key>70C53587-0B6B-4A52-9A1A-F6BBEAF3DD18</key>
		<dict>
			<key>note</key>
			<string>List favorites</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>92D0B4BA-A2F9-4D37-BFD0-C5090FB610EC</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>A7A99021-056A-4D32-BE8B-AC8E3069D486</key>
		<dict>
			<key>note</key>
			<string>Open in Default Editor</string>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>D73E8268-4276-4AAD-9CF3-91B29E6B79C9</key>
		<dict>
			<key>note</key>
			<string>Select database</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>D883A945-0841-4E01-B919-C57B23109B59</key>
		<dict>
			<key>note</key>
			<string>Show all smart groups</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>DB152084-DE5D-4ED3-8F90-EF5B355D6CEA</key>
		<dict>
			<key>note</key>
			<string>Search by tags</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>E670F8C6-38F9-463A-8053-55D4C6634FCD</key>
		<dict>
			<key>xpos</key>
			<real>1270</real>
			<key>ypos</key>
			<real>1265</real>
		</dict>
		<key>E7C45E80-CB9C-4915-ABA9-0C220A5E1773</key>
		<dict>
			<key>note</key>
			<string>List all tags</string>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>F480BB2C-D5E5-4EDA-B3B4-69D176D25B8E</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>alwaysOpenWindow</key>
		<string>false</string>
	</dict>
	<key>version</key>
	<string>1.6</string>
	<key>webaddress</key>
	<string>https://bru6.de/jxa</string>
</dict>
</plist>
