<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.bru6.devonthink</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>05E7224D-461F-4FD6-BBCC-B927ADEF0E9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E670F8C6-38F9-463A-8053-55D4C6634FCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FB7D56C-1BB4-4D7A-9729-466CCEA1CDC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7061F819-A8CD-48F5-8F37-D2246D4D7C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45F9755A-A2CF-4A08-BD58-F164B38BEE00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open record in DEVONthink</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7A99021-056A-4D32-BE8B-AC8E3069D486</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21BA232A-1DF1-4734-82D7-3D1E23865AC3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>704EC450-15D2-4744-8622-B248FCA997DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0BAB7E3F-3E9B-450B-89AC-1A61A59CB08D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D82DAFE-E22A-4B84-8CCC-C0F173EB64D8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C53587-0B6B-4A52-9A1A-F6BBEAF3DD18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D73E8268-4276-4AAD-9CF3-91B29E6B79C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7C45E80-CB9C-4915-ABA9-0C220A5E1773</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>List all Tags</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D883A945-0841-4E01-B919-C57B23109B59</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45F9755A-A2CF-4A08-BD58-F164B38BEE00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D883A945-0841-4E01-B919-C57B23109B59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB152084-DE5D-4ED3-8F90-EF5B355D6CEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7A99021-056A-4D32-BE8B-AC8E3069D486</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21BA232A-1DF1-4734-82D7-3D1E23865AC3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7C45E80-CB9C-4915-ABA9-0C220A5E1773</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F480BB2C-D5E5-4EDA-B3B4-69D176D25B8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F480BB2C-D5E5-4EDA-B3B4-69D176D25B8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A7A99021-056A-4D32-BE8B-AC8E3069D486</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21BA232A-1DF1-4734-82D7-3D1E23865AC3</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christian Kirsch</string>
	<key>description</key>
	<string>Search DT with JavaScript only</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DT Search JS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript list_all_tags.js
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>getTagsList.py</string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>List all Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E7C45E80-CB9C-4915-ABA9-0C220A5E1773</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript list_all_records.js </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>List all Records with the Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F480BB2C-D5E5-4EDA-B3B4-69D176D25B8E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -l JavaScript search_with_DT_URL.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0BAB7E3F-3E9B-450B-89AC-1A61A59CB08D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dtsg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript list_all_smart_groups.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>List Smart Groups</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D883A945-0841-4E01-B919-C57B23109B59</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -l JavaScript open_with_DT.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>dtd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript select_DB.js</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get all DT databases</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D73E8268-4276-4AAD-9CF3-91B29E6B79C9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>dts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Please wait ...</string>
				<key>script</key>
				<string>osascript -l JavaScript search_in_DT.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>{var:selectedDbName}</string>
				<key>title</key>
				<string>Search in DEVONthink</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45F9755A-A2CF-4A08-BD58-F164B38BEE00</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A7A99021-056A-4D32-BE8B-AC8E3069D486</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># $1: uuid
open "x-devonthink-item://${1}?reveal=1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dtf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>function run(argv) {
  const se = Application("System Events");
  
  const supportPath = se.userDomain.applicationSupportFolder.posixPath();
  
  const plistPath = `${supportPath}/DEVONthink 3/Favorites.plist`;
  const plist = se.propertyListFiles[plistPath];
  
  const items = [];
  plist.propertyListItems().forEach(it =&gt; {
    if ('UUID' in it.value()) {
        const v = it.value();
        items.push({title: v.Name, arg: v.UUID});
    }
  })
  return( JSON.stringify({items: 
      (items.length &gt; 0 ? items : [{title: "No favorite items", subtitle: "(*´･д･)?"}])
    })
  );
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List Favorites</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70C53587-0B6B-4A52-9A1A-F6BBEAF3DD18</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>21BA232A-1DF1-4734-82D7-3D1E23865AC3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dtt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript search_by_tags.js "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Separate tags by commas or semicolons</string>
				<key>title</key>
				<string>Search by Tags</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DB152084-DE5D-4ED3-8F90-EF5B355D6CEA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -l JavaScript search_in_new_window.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2D82DAFE-E22A-4B84-8CCC-C0F173EB64D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dtts</string>
				<key>subtext</key>
				<string>⌘ to search in new window</string>
				<key>text</key>
				<string>Search with query in DT</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>704EC450-15D2-4744-8622-B248FCA997DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript load_workspace.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E670F8C6-38F9-463A-8053-55D4C6634FCD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dtwl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript -l JavaScript list_workspaces.js </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Load Workspace</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>05E7224D-461F-4FD6-BBCC-B927ADEF0E9D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dtws</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Save workspace named "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3FB7D56C-1BB4-4D7A-9729-466CCEA1CDC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -l JavaScript save_workspace.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7061F819-A8CD-48F5-8F37-D2246D4D7C34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A re-make of "DEVONthink Search" without external dependencies on Python or Perl. All code is written in JavaScript. 

Not yet fully compatible with the original, since the global variables are missing and CJK support is minimal

DTD - select database for subsequent commands
DTS - search in all databases or only the one selected by DTD
DTSG - show all smart groups or only for the DB selected by DTD
DTF - list favorites – DOES NOT list databases, only groups and 
      records
DTWL - Load workspace
DTWS - Save workspace
DTT  - Search for tags
DTTS - Search with query in DT</string>
	<key>uidata</key>
	<dict>
		<key>05E7224D-461F-4FD6-BBCC-B927ADEF0E9D</key>
		<dict>
			<key>note</key>
			<string>Load workspace</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>0944EDAA-6AAB-4723-9064-E0D0D61B98FA</key>
		<dict>
			<key>note</key>
			<string>Reveal in DEVONthink</string>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>0BAB7E3F-3E9B-450B-89AC-1A61A59CB08D</key>
		<dict>
			<key>note</key>
			<string>Search with DT URL</string>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>1D403C36-5A6B-4D7B-AEF2-4F253885DF64</key>
		<dict>
			<key>note</key>
			<string>Open with DEVONthink</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>21BA232A-1DF1-4734-82D7-3D1E23865AC3</key>
		<dict>
			<key>note</key>
			<string>Search in default engine</string>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>695</integer>
		</dict>
		<key>2D82DAFE-E22A-4B84-8CCC-C0F173EB64D8</key>
		<dict>
			<key>note</key>
			<string>Search in new DT window</string>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>3FB7D56C-1BB4-4D7A-9729-466CCEA1CDC1</key>
		<dict>
			<key>note</key>
			<string>Save workspace</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>45F9755A-A2CF-4A08-BD58-F164B38BEE00</key>
		<dict>
			<key>note</key>
			<string>Search in selected database</string>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>704EC450-15D2-4744-8622-B248FCA997DE</key>
		<dict>
			<key>note</key>
			<string>Search in DT window</string>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>900</integer>
		</dict>
		<key>7061F819-A8CD-48F5-8F37-D2246D4D7C34</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>70C53587-0B6B-4A52-9A1A-F6BBEAF3DD18</key>
		<dict>
			<key>note</key>
			<string>List favorites</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>A7A99021-056A-4D32-BE8B-AC8E3069D486</key>
		<dict>
			<key>note</key>
			<string>Open in Default Editor</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>D73E8268-4276-4AAD-9CF3-91B29E6B79C9</key>
		<dict>
			<key>note</key>
			<string>Select database</string>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>D883A945-0841-4E01-B919-C57B23109B59</key>
		<dict>
			<key>note</key>
			<string>Show all smart groups</string>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>DB152084-DE5D-4ED3-8F90-EF5B355D6CEA</key>
		<dict>
			<key>note</key>
			<string>List input tags</string>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>E670F8C6-38F9-463A-8053-55D4C6634FCD</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>E7C45E80-CB9C-4915-ABA9-0C220A5E1773</key>
		<dict>
			<key>note</key>
			<string>List all tags</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F480BB2C-D5E5-4EDA-B3B4-69D176D25B8E</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3</string>
	<key>webaddress</key>
	<string>https://bru6.de/jxa</string>
</dict>
</plist>
